<!-- Section styles are 'section' 'section alt' 'section color' 'section black' 'section gradient' with the following helper classes for bg images 'cover' 'tile' 'parallax' 'fullscreen' -->
<!-- Hero layout classes are 'no-image' 'image-tagline' 'image-center' 'image-left' 'image-right' -->
<section id="hero" class="jumbotron section no-image">
  <div class="container">
    <div class="logo-display">
      <img class="logo container img hidden-xs" alt="Logo" src="/img/logo.png"></img>
      <img class="logo container img-responsive visible-xs img" alt="Logo" src="/img/logo.png"></img>
      <h1 class="page-title">Hello World</h1>
    </div>
      <h2>We're prototyping with ⋈ BowTie.</h2>
      <p>Use dozens of responsive pre-built components and templates to assemble landing pages, blogs and web applications <em>faster</em>.</p>
      <a href="#features">
        <button class="btn btn-default">Learn More</button>
      </a>
  </div>
</section>
