<link rel="stylesheet" type="text/css" href="/css/components/pricing.css"/>

<section id="pricing" class="section alt">
<a name="pricing"></a>
  <div class="container row-90">
  <h1>Pricing Section</h1>
  <h3>Simple pricing panels that you don't need to build.</h3>

  <div class='pricing row'>
    <div class='col-md-3 col-sm-6'><!--PLAN 1-->
      <div class='plan panel panel-default'>
        <div class="panel-heading plan-name">
          Plan Name
        </div>
        <div class='panel-body text-center'>
          <div class='price'>
            <span class="dollar">$</span>
            20
            <span class='unit'>
            /mo
            </span>
          </div>
          <a href="#signup">
          <button class="btn btn-default row">Sign Up</button>
          </a>
          <ul class='plan-features list-group'>
            <hr>
            <li class='list-group-item'>Lorem ipsum sec pulis non.</li>
            <hr>
            <li class='list-group-item'>Duis ac scelerisque libero.</li>
            <hr>
            <li class='list-group-item'>Lorem ipsum sec pulis non.</li>
            <hr>
            <li class='list-group-item'>Duis ac scelerisque libero.</li>
            <hr>
            <li class='list-group-item'>Lorem ipsum sec pulis non.</li>
            <hr>
            <li class='list-group-item'><strong>14-day Free Trial</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-md-3 col-sm-6'><!--PLAN 2-->
      <div class='plan panel panel-default prominent-plan'>
        <div class="panel-heading plan-name">
          Plan Name
        </div>
        <div class='panel-body text-center'>
          <div class='price'>
            <span class="dollar">$</span>
            50
            <span class='unit'>
            /mo
            </span>
          </div>
          <a href="#signup">
          <button class="btn btn-default row">Sign Up</button>
          </a>
          <ul class='plan-features list-group'>
            <hr>
            <li class='list-group-item'>Lorem ipsum sec pulis non.</li>
            <hr>
            <li class='list-group-item'>Duis ac scelerisque libero.</li>
            <hr>
            <li class='list-group-item'>Lorem ipsum sec pulis non.</li>
            <hr>
            <li class='list-group-item'>Duis ac scelerisque libero.</li>
            <hr>
            <li class='list-group-item'>Lorem ipsum sec pulis non.</li>
            <hr>
            <li class='list-group-item'><strong>14-day Free Trial</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-md-3 col-sm-6'><!--PLAN 3-->
      <div class='plan panel panel-default'>
        <div class="panel-heading plan-name">
          Plan Name
        </div>
        <div class='panel-body text-center'>
          <div class='price'>
            <span class="dollar">$</span>
            100
            <span class='unit'>
            /mo
            </span>
          </div>
          <a href="#signup">
          <button class="btn btn-default row">Sign Up</button>
          </a>
          <ul class='plan-features list-group'>
            <hr>
            <li class='list-group-item'>Lorem ipsum sec pulis non.</li>
            <hr>
            <li class='list-group-item'>Duis ac scelerisque libero.</li>
            <hr>
            <li class='list-group-item'>Lorem ipsum sec pulis non.</li>
            <hr>
            <li class='list-group-item'>Duis ac scelerisque libero.</li>
            <hr>
            <li class='list-group-item'>Lorem ipsum sec pulis non.</li>
            <hr>
            <li class='list-group-item'><strong>14-day Free Trial</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-md-3 col-sm-6'><!--PLAN 4-->
      <div class='plan panel panel-default'>
        <div class="panel-heading plan-name">
          Plan Name
        </div>
        <div class='panel-body text-center'>
          <div class='price'>
            <span class="dollar">$</span>
            1500
            <span class='unit'>
            /mo
            </span>
          </div>
          <a href="#signup">
          <button class="btn btn-default row">Sign Up</button>
          </a>
          <ul class='plan-features list-group'>
            <hr>
            <li class='list-group-item'>Lorem ipsum sec pulis non.</li>
            <hr>
            <li class='list-group-item'>Duis ac scelerisque libero.</li>
            <hr>
            <li class='list-group-item'>Lorem ipsum sec pulis non.</li>
            <hr>
            <li class='list-group-item'>Duis ac scelerisque libero.</li>
            <hr>
            <li class='list-group-item'>Lorem ipsum sec pulis non.</li>
            <hr>
            <li class='list-group-item'><strong>14-day Free Trial</strong></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="pricing row row-80">
      <div class="col-sm-8 text-center clear">
        <div class="plan panel panel-default horiz-padding">
          <div class="panel-heading plan-name">
            Additional Options
          </div>
          <div class='panel-body text-center'>
            <div class='price'>
              <span class="dollar">
                $
              </span>
                20
              <span class="unit">
                /mo &nbsp;each
              </span>
            </div>
            <p>*Ask about high volume discounts.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-sm-push-1 text-center clear">
        <div class="plan panel panel-default discount-panel">
          <h3 class="title">Save 5% with Auto Renewal</h3>
        </div>
      </div>
    </div>
  </div>
</section>
